.header {
    background-color: grey;
}

.navigation {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.nav-link {
    width: 37px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.selected {
    text-decoration: underline;
}


.image-column {
    margin: auto;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.image-box {
    margin: 10px;
    width: 270px;
}

.image-box img {
    width: 100%;
}