.image-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.image-box {
    margin: 10px;
    width: 270px;
}

.image-box img {
    width: 100%;
}